/* your code */
body { font-family:poppins; font-size:13px;}
table { border:1px solid #ddd;  border-radius:15px; border-collapse:collapse; text-align:left; width:100%;}
table td, th {padding:10px 13px; }
table th {background:#215a8e; color:#fff;}
table tr:nth-child(even){background:#ddd; color:#000; }